body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.form-register {
    width: 400px;
    background: #FF914D;
    margin: 20px auto;
    border-radius: 30px;
    padding: 50px;
    color: white;
    position: relative;
    box-shadow: inset 0 0 0 8px #FF914D, 
                inset 0 0 0 12px white; /* Borde de 10px de ancho dentro del cuadro */
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;

}

.contenedor-items {
    background: #FF914D; 
    border-radius: 20px; 
    font-size: 20;
    
}

.producto {
    margin-bottom: 10px;
    background-color: #FF914D;
}

.check-prod {
    margin-right: 10px;
    transform: scale(1.8);
    
}
.check-prod::before {
    border: 2px solid #bb5a1d;
}

.nombre-prod {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.precio-prod {
    color: #FFFFFF;
    font-size: 20px;
}

.form-register .boton { 
    width: 50%;
    background: #FFFFFF;
    border: none;
    padding: 16px;
    color: #FF914D;
    border-radius: 30px;
    display: block;
    margin: 25px auto 0 auto; /* Centra el botón horizontalmente y añade margen superior */
    text-align: center;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

.titulo{
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 1px; 
}

.sub{

    font-size: 30px;
    text-align: center;

}

.label{
    font-size: 20px;
}

.form-user {
    width: 350px;
    background: #FF914D;
    margin: 100px auto;
    border-radius: 30px;
    padding: 50px;
    color: white;
    position: relative;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    box-shadow: inset 0 0 0 8px #FF914D, 
                inset 0 0 0 12px white; /* Borde de 10px de ancho dentro del cuadro */
}

.controls{
    width: 90%;
    background: #fab68c;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 10px;
    border: 1px solid #FF914D;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    outline: none;
}
.controls::placeholder {
    color: white;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn button{
    width: 150px;
    background: #df722f;
    border: 2px solid #FFFFFF;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 30px;
    display: block;
    margin: 25px auto 0 auto; /* Centra el botón horizontalmente y añade margen superior */
    text-align: center;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
}

.btn button.btn2{
    background: #FFFFFF;
    border: 2px solid #df722f;
    color: #df722f;
}

.error{
    font-size: 16px;
    text-align: center;
}



