body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #006666;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    padding: 8px;
    width: 200px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.status-icon.red {
    color: red;
}

.status-icon.green {
    color: green;
}


.action-btn {
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 5px;
    margin: 0 2px;
}

.view-btn { color: green; }
.edit-btn { color: blue; }
.download-btn { color: purple; }
.delete-btn { color: red; }

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
}

.close {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
}

.logo a{
    color: #FFFFFF;
}
