*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-x: auto;
    
}

.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border: 1px solid #0e5b5b;;
    color: #0e5b5b;

}

h1 {
    text-align: center;
    margin: 0; 
    padding: 10px; 
    font-family: "Hind Siliguri", sans-serif;
    font-size: 25px;
}

.top {
    border-bottom: 1px solid #0e5b5b;
    margin-bottom: 20px;              
    padding-bottom: 10px; 
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: "Yantramanav", serif;
}

.form-group{
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

.form-group label{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-group .inp{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #919498;
    padding-left: 10px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.form-group .inp:focus ,
.form-group .inp:valid{
    border-color: #81858a;

}


.form-group2 select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #919498;
    border-radius: 5px;
    border-bottom-width: 2px;
}
.form-group2 select, textarea:focus,
.form-group2 select, textarea:valid{
    border-color: #81858a;

}


.checkbox-group, .radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

textarea {
    height: 80px;
    resize: none;
}

.btn{
    background-color: #135b5b;
	color: #fff;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.btn:hover{
    background-color: rgb(19,91,91, 0.8)
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
    }
}

