
body {
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat; /* Evitar que se duplique la imagen */
    background-size: cover; /* Hacer que la imagen cubra todo el fondo */
    background-position: center; /* Centrar la imagen en el fondo */
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Usar toda la altura de la ventana */
    margin: 0; /* Eliminar margen por defecto */

}

.container {
    text-align: center; /* Centrar texto dentro del contenedor */
    margin: 10px;
}

.text-section {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con 80% de opacidad */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 30px; /* Espaciado interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h1{
    font-size: 35px;
    color: #132540; /* Color del texto */
    font-family: "Yantramanav", serif;
}

p{
    font-size: 23px;
    color: #132540; /* Color del texto */
    font-family: "Yantramanav", serif;
}

a {
    display: inline-block; /* Para que el enlace tenga padding */
    margin-top: 10px; /* Espaciado superior */
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #0e5b5b; /* Fondo del botón */
    color: white; /* Color del texto del botón */
    text-decoration: none; /* Sin subrayado */
    border-radius: 20px; /* Esquinas redondeadas del botón */
    transition: background-color 0.3s; /* Efecto de transición para el hover */
    font-family: "Yantramanav", serif;
}

a:hover {
    background-color:  #297c7c; /* Color más claro al pasar el mouse */
}

@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas */
    .text-section {
        padding: 15px; /* Menos padding en pantallas pequeñas */
    }

    a {
        padding: 8px 16px; /* Ajustar tamaño del botón */
    }
}

    