body {
    background-color: rgb(171, 205, 205);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container {
    display: flex;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    overflow: hidden; 
 
}

.info {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color:#f8f8f8;
    flex-direction: column;
}

.form-info{
    padding: 0 30px;
    width: 80%;
}

.form-info label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .1);
    background-color: #fff;
}

.form-info label input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #77778d;
    background-color: #fff;
    font-size: 14px;
}
.form-info label input::placeholder {
    color:#0e5b5b;
    opacity: 1;  
}

.form-info label i{
    color: #0e5b5b;
    background-color: #fff;
}


.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-section img {
    max-width: 100%; 
    height: auto;
    border-top-left-radius: 20px;
}


.btn{
    background-color: #135b5b;
	color: #fff;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.btn:hover{
    background-color: rgb(19,91,91, 0.8)
}


h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #084949;
}
