*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0f485f;;
  }

.form-inicio{
    width: 500px;
    background: #0f485f;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    border: 2px solid #ffffff;

}

.form-inicio .btn {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

.user{
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(40, 38, 38);
  }

.error{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}